* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header, footer, .main-content, .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

header {
    background-color: #5b9bd5;
    height: 150px;
    width: 100%;
}

.flex-row {
    display: flex;
    width: 100%;

}

.main-content {
    background-color: #c5e0b4;
    width: 70%;
    height: 400px;
}

.sidebar {
    background-color: #92aa62;
    width: 30%;
    height: 400px;
}

footer {
    background-color: #33ccaf;
    height: 150px;
    width: 100%;
}