body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

#download-btn {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

#download-btn:hover {
    background-color: #495057;
}

#success-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Сітка для карток */
#results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Стиль картки */
.user-card {
    width: 200px;
    background-color: #343a40; /* Темний фон як на прикладі */
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.user-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user-info {
    padding: 15px;
    font-size: 14px;
}

.user-info p {
    margin: 8px 0;
    line-height: 1.4;
}

.user-info span {
    font-weight: bold;
    color: #ced4da;
}